<div class="business">
    <div class="left">
        <h1>Just like real cash, but better.</h1>
        <div class="card">
            <div class="icon"><img src="assets/icon-fast.svg" alt=""></div>
            <div>
                <h2>Jeton is fast</h2>
                <p>Instant deposit and balance updates.</p>
            </div>
        </div>
        <div class="card">
            <div class="icon"><img src="assets/icon-easy.svg" alt=""></div>
            <div>
                <h2>Jeton is easy</h2>
                <p>Instant deposit and balance updates.</p>
        </div>
        </div>
        <div class="card">
            <div class="icon"><img src="assets/icon-use.svg" alt=""></div>
            <div>
                <h2>Jeton is free</h2>
                <p>Open Jeton account for free.</p>
            </div>
        </div>
    </div>
    <div class="right">
        <h1>Business Account</h1>
        <img src="assets/icon-bank.svg" alt="">
        <p>Jeton allows you to request payments</p>
        <a href="#" class="btn">USE FOR BUSINESS</a>
    </div>

</div>