.methods{
    display: flex;
    justify-content: space-between;
    padding-top:100px;
    padding-left: 100px;
    align-items: center;
    background: #fafafa;
}
.methods div{
    /* width:50%; */
}

img{
    width:100%;
}
.text{
    padding: 20px;
    width:600px;
}
h1{
    font-weight: lighter;
    margin:0;
}