<div class="signup">
    <div class="text">
        <h1>Send money quickly, easily and fast.</h1>
        <a class="btn" href="#">SIGN UP</a>
        <div class="stores">
            <div style="border-right: solid 2px #9b9b9b;">
                <img style="margin-right: 30px;" src="assets/appstore.svg" alt="">
            </div>
            <div>   
                <img style="margin-left: 30px;" src="assets/googleplay.svg" alt="">
            </div>
        </div>
    </div>
    <div class="appscreen">
        <img src="assets/app-screen.png" alt="">
    </div>
</div>