/* You can add global styles to this file, and also import other style files */
body{
    background: #eee;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:100%;
}

@media screen and (min-width: 1000px) {
    .container{
        width:1000px;
        margin: auto;
    }
  }